<app-header></app-header>
<div>
  <div class="float-left mt-5 ml-5">
    <button class="bg-[#ffaa33] p-2 rounded-lg mt-3 px-4" (click)="onBack()">Retour</button>
  </div>
  <h2 class="text-2xl text-center mt-5">Création d'un livreur</h2>
  <form class="mt-10 flex flex-col justify-center items-center" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div>
      <label for="name">Nom : </label>
      <input type="text" name="name"
        class="border-2 border-gray-500 outline-none p-2 rounded-md my-3 " [(ngModel)]="name" formControlName="name" required/>
        <div *ngIf="nameControl.invalid && (submitted || (nameControl.dirty || nameControl.touched))" class="alert alert-danger">
          <div *ngIf="nameControl.errors?.['required']" class="text-red-700 text-center ml-5 mb-2">
            Nom du livreur est requis
          </div>
        </div>
    </div>
    <app-toggle-button (onChangeParent)="onChange($event)" [available]="available"></app-toggle-button>
    <button type="submit" class="bg-[#ffaa33] p-2 rounded-lg mt-3 px-4">Créer</button>
  </form>
</div>