<app-header></app-header>
<h2 class="text-2xl text-center mt-5">Affiche de la tournée</h2>
<div class="float-left mt-5 ml-5">
  <button class="bg-[#ffaa33] p-2 rounded-lg mt-3 px-4" (click)="onBack()">Retour</button>
</div>
<div *ngIf="deliveryTour" class="mx-auto mt-10 w-40">
  <p class="text-center text-xl">{{deliveryTour.name}}</p>
  <p class="text-center text-sm">Du {{deliveryTour.startDate | date : 'dd/MM/yyyy'}} au {{deliveryTour.endDate | date : 'dd/MM/yyyy'}}</p>
  <div class="flex flex-row justify-center items-center mt-10 gap-x-20">
    <button class="rounded-lg bg-red-500 text-white p-3" (click)="delete()">Supprimer</button>
    <a href="/delivery-tours/{{deliveryTour.id}}/update"><button
        class="rounded-lg bg-blue-500 text-white p-3">Editer</button></a>
  </div>
</div>
<!-- <div *ngIf="deliveryTours">
  <h2 class="text-2xl text-center mt-8">Tournée du livreurs</h2>
  <div *ngIf="deliveryTours.length == 0" class="text-center mt-20">
    <p>Ce livreur n'a pas encore de tournée de prévus</p>
  </div>
  <div *ngIf="deliveryTours.length">
    <div class="flex flex-row gap-x-5 my-10 justify-end mr-5 h-8">
      <select [(ngModel)]="pageSize" (ngModelChange)="onChangePageSize()" class="border-2 border-[#ffaa33] rounded-lg">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
      <div class="flex flex-row gap-x-5">
        <div *ngFor="let item of nbPage">
          <div *ngIf="item == page + 1" class="bg-[#ffaa33] flex justify-center items-center w-8 h-8 rounded-full">
            <p>{{ item }}</p>
          </div>
          <div *ngIf="item != page + 1" class="w-8 h-8 flex justify-center items-center"
            (click)="onChangePage(item - 1)">
            <p>{{ item }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid mx-5 grid-cols-3 gap-4 mb-5">
      <!-- <app-delivery-tour-card *ngFor="let item of deliveryTours" [deliveryTour]="item"></app-delivery-tour-card> 
    </div>
  </div> -->