<app-header [page]='"delivery"'></app-header>
<div class="w-full mt-5 flex flex-row gap-4 justify-end px-5">
  <a href="deliveries/create">
    <button class="bg-[#ffaa33] rounded-lg px-4 py-2">
      Ajouter une livraison
    </button>
  </a>
</div>
<div class="searchResultContainer">
    <div *ngIf="deliveries.length"class="h-[75vh]">
      <div class="flex flex-row gap-x-5 my-10 justify-end mr-5 h-8">
        <select [(ngModel)]="pageSize" (ngModelChange)="onChangePageSize()" class="border-2 border-[#ffaa33] rounded-lg">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
        </select>
        <div class="flex flex-row gap-x-5">
          <div *ngFor="let item of nbPage">
            <div *ngIf="item == page + 1" class="bg-[#ffaa33] flex justify-center items-center w-8 h-8 rounded-full">
              <p>{{ item }}</p>
            </div>
            <div *ngIf="item != page + 1" class="w-8 h-8 flex justify-center items-center"
              (click)="onChangePage(item - 1)">
              <p>{{ item }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-flow-row grid-cols-3 mx-10 gap-x-4 gap-y-10">
        <app-delivery-card *ngFor="let item of deliveries" [delivery]="item"></app-delivery-card>
      </div>
    </div>
  <div *ngIf="!deliveries.length" class="align-center flex h-[75vh] w-full justify-center">
    <h3 class="m-auto">Il n'y a pas de résultat pour cette recherche</h3>
  </div>
</div>