<app-header [page]='"delivery"'></app-header>
<div *ngIf="delivery">
<h2 class="text-2xl text-center mt-5">Affiche de la livraison</h2>
<div class="float-left ml-5">
  <button class="bg-[#ffaa33] p-2 rounded-lg mt-3 px-4" (click)="onBack()">Retour</button>
</div>
<div class="mx-auto mt-10">
  <div class="flex flex-row justify-center w-full">
    <table>
      <tr class="text-xl text-left">
        <td>Addresse de ramassage :</td>
        <td class="pl-2">{{delivery.pickUpAddress}}</td>
      </tr>
      <tr class="text-xl text-left">
        <td>Addresse de dépôt :</td>
        <td class="pl-2">{{delivery.deliveryAddress}}</td>
      </tr>
      <tr class="text-xl" *ngIf="delivery.deliveryTour">
        <td class="text-left">Tournée :</td>
        <td class="text-center">{{delivery.deliveryTour.name}}</td>
      </tr>
    </table>
  </div>
  <div class="flex flex-row justify-center items-center mt-10 gap-x-20">
    <button class="rounded-lg bg-red-500 text-white p-3" (click)="delete()">Supprimer</button>
    <a href="/deliveries/{{delivery.id}}/update"><button
        class="rounded-lg bg-blue-500 text-white p-3">Editer</button></a>
  </div>
</div>
</div>

<div *ngIf="!delivery">
  <app-loader></app-loader>
</div>